# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
build
dist
dist-electron
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts and binaries
release/
bin/ffmpeg.exe
bin/ffprobe.exe
bin/yt-dlp.exe
bin/node.exe
_ffprobe_backup/
